<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>演示请求</title>
</head>
<body>
    <!-- 提交前 -->
    <!-- file:///home/xiaoshoubingliang/PycharmProjects/stage3/AJAX/day01%20%E5%8E%9F%E7%94%9FAJAX%E8%AF%B7%E6%B1%82/demo1.html -->
    <!-- 提交后 -->
    <!-- file:///home/xiaoshoubingliang/PycharmProjects/stage3/AJAX/day01%20%E5%8E%9F%E7%94%9FAJAX%E8%AF%B7%E6%B1%82/demo1.html?uname=shibw&pwd=123456 -->
    <form action="" method="POST">
        <p>
            姓名：<input type="text" name="uname">
        </p>
        <p>
            密码：<input type="password" name="pwd">
        </p>
        <input type="submit">
    </form>
</body>
</html>